/*! CSS bare bones for recipes site */

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');



html {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

*  {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* the rest is up to you */


body{

font-family: 'Cormorant Garamond', serif;

}

body{ background-color: rgb(255, 255, 255);}



h1{color:rgb(0, 0, 0);
font-family: 'Barrio', cursive;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;}


h2{color:rgb(0, 0, 0);
font-family: 'Barrio', cursive;
text-align: left;
padding-top: 5px;
padding-bottom: 5px;}

.recipeshome header

.recipeshome main p:first-of-type{

color:rgb(0, 0, 0);
margin: 15px;


}

main{
width: 50%;
max-width: 850px;
overflow: auto;
border:1px solid purple;
margin:0 auto;
background-color: rgb(251, 221, 166);
padding: 8px;
}    

img{
  width:50%;
float:right;
border: 3px solid black;
margin: 15px;
}

/* columns: 2;
column-rule: 1px solid blue;} */
ul{margin-left: 20px;
margin-bottom: 30px;}
li{font-size:.8em;
margin-bottom: 12px;
margin-left: 20px;}

.branding{font-size: 40px;}

.caption{ float:right;
width:50%;
font-size: .8em;
font-style: italic;
margin-right: 15px;}

footer{text-align: center;
background-color: rgb(0, 0, 0);
padding-block: 5px;
color: white;
bottom:0;
width:100%;
position: fixed;
font-family: 'Barrio', cursive;
font-size: 12;}

button{
font-family: 'Barrio', cursive;
position:center;
margin: 10px;
float:center;}

nav a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: rgba(0, 0, 0, 0.84);
  display: block;
  /* border: 1px solid red; */
  width: 15%;
  padding: 10px;
  margin: 0;
min-width: 120px;
position:fixed;
top:7em;
left:0;
z-index: 12;
}

nav ul li {
font-size: .9rem;
}

nav {
  margin:0;
  position: static;
  width:100%;
  }
  
  nav ul {
  font-size:1rem;
  }

a:link    { color: rgb(0, 0, 0); text-decoration: none; }
a:visited { color: rgb(0, 0, 0); text-decoration: none; }
a:hover   { color: rgb(77, 35, 35); text-decoration: none; }
a:active  { color: rgb(0, 0, 0); text-decoration: none; }
