/*! CSS bare bones for recipes site */

 html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the rest is up to you */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
   font-family: 'Reenie Beanie', cursive;}

body{ background-color: rgb(255, 255, 255);}


h1{color:rgb(0, 0, 0);
  font-family: 'Reenie Beanie', cursive;
text-align: center;
padding-top: 5px;}


h2{color:rgb(0, 0, 0);
font-family: 'Reenie Beanie', cursive;
text-align: left;}

main{
  width: 60%;
  max-width: 850px;
  border:1px solid purple;
  padding: 0 12px 0 12px;
  margin:0 auto;
background-color: rgb(255, 161, 161);}    

img{
    width:50%;
  float:right;}
/* columns: 2;
column-rule: 1px solid blue;} */
ul{margin-left: 20px;}
li{font-size:.8em;
margin-bottom: 12px;
margin-left: 20px;}

.branding{font-size: 40px;}

.caption{ float:right;
width:60%;
font-size: .8em;}

footer{text-align: center;
padding-block: 5px;
font-family: 'Reenie Beanie', cursive;
font-size: 12;}

a:link    { color: rgb(0, 0, 0); text-decoration: none; }
a:visited { color: rgb(0, 0, 0); text-decoration: none; }
a:hover   { color: rgb(0, 0, 0); text-decoration: none; }
a:active  { color: rgb(0, 0, 0); text-decoration: none; }
