/*! CSS bare bones for recipes site */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');




html {
font-family: 'Amatic SC', cursive;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

*  {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* the rest is up to you */

.recipeteaser
body{

font-family: 'Amatic SC', cursive;
font-size: 17px;
color: rgb(77, 35, 35);
}

body{ background-image:url(https://png.pngtree.com/background/20210717/original/pngtree-minimalist-cream-pastel-floral-background-wallpaper-picture-image_1441632.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}



h1{color:rgb(77, 35, 35);
  
font-family: 'Barrio', cursive;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
}



.site-title{font-size:65px;
 
}

h2{color:rgb(77, 35, 35);
font-family: 'Barrio', cursive;
text-align: left;
padding-top: 5px;
padding-bottom: 5px;}






.recipeshome main p {
  color:rgb(71, 26, 5);
  font-size: 1.4em;

  padding: 4px;
}


img{
  width:50%;
float:right;
border: 3px solid rgb(77, 35, 35);
margin: 15px;
}


main{
  width: 50%;
  max-width: 850px;
  overflow: auto;
  border:1px solid rgb(77, 35, 35);
  margin:0 auto;
  background-color: rgb(251, 221, 166);
  padding: 12px;
  padding-bottom: 3%;
  }    
/* columns: 2;
column-rule: 1px solid blue;} */
ul{margin-left: 20px;
  line-height: 2;
}

ol{
  margin-left: 20px;
  line-height: 2;
margin-bottom: 10px;}



.branding{font-size: 40px;}

.caption{ float:right;
width:50%;
font-size: .8em;
font-style: italic;
margin-right: 15px;}

footer{text-align: center;
background-color: rgb(77, 35, 35);
padding-block: 5px;
color: rgb(251, 221, 166);
bottom:0;
width:100%;
position: fixed;
font-family: 'Barrio', cursive;
font-size: 12;}

button{
font-family: 'Amatic SC', cursive;
font-size: 15px;
position:center;
margin: 10px;
float:center;}

nav {
  background-color: rgb(251, 221, 166);
  display: block;
  border:1px solid rgb(77, 35, 35);
  /* border: 1px solid red; */
  width: 20%;
  padding: 10px;
  margin: 0;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
min-width: 120px;
position:fixed;
top:7em;
left:0;
z-index: 12;}

.recipehere{color: rgb(155, 94, 62);}
nav a {
  color: white;
  text-decoration: none;
}

.recipe-teaser{
border:1px solid rgb(163, 88, 45);
padding:1em;
flex-basis: 300px;
flex-grow:1;
margin:1em;
font-family: 'Amatic SC', cursive;
}
.list{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



@media screen and (max-width: 700px) {

  nav {
    margin:0;
    position: static;
    width:100%;
    }
    
  nav ul {
  font-size:1rem;
  }
  
    main {
    width: 100%;
    padding-bottom: 8%;
    }
  
    body {
    background-color: white;
    padding-top: 6em;
  }
  
  .caption{ float:center;
    width:60%;
    font-size: .8em;
    font-style: italic;
    margin-right: 15px;}
  
  img {
    float:none;
    margin:10px auto;
    width:100%;
  }
  }
  
a:link    { color: rgb(77, 35, 35); text-decoration: none; }
a:visited { color: rgb(77, 35, 35); text-decoration: none; }
a:hover   { color: rgb(122, 64, 64); text-decoration: none; }
a:active  { color: rgb(77, 35, 35); text-decoration: none; }

